<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <!-- SINH VIÊN -->
                    <li>
                        <a href="/student">
                            <i class="fa fa-mortar-board (alias)" aria-hidden="true"></i>
                            <span>Sinh viên (Student)</span>
                        </a>
                    </li>

                    <!-- GIẢNG VIÊN -->
                    <li>
                        <a href="/teacher">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <span>Giảng viên (Teacher)</span>
                        </a>
                    </li>

                    <!-- học phần -->
                    <li>
                        <a href="/subject">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <span>Học phần (Subject)</span>
                        </a>
                    </li>

                    <!-- LỚP -->
                    <li>
                        <a href="/classmodule">
                            <i class="fa fa-group (alias)" aria-hidden="true"></i>
                            <span>Lớp (Class - Detail)</span>
                        </a>
                    </li>

                    <!-- Điểm -->
                    <li>
                        <a href="/point">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span>Điểm (Point)</span>
                        </a>
                    </li>

                    <!-- Bài viết -->
                    <li>
                        <a href="/topic">
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                            <span>Bài viết (Topic)</span>
                        </a>
                    </li>

                    <!-- Bình luận -->
                    <li>
                        <a href="/comment">
                            <i class="fa fa-comments" aria-hidden="true"></i>
                            <span>Bình luận (Comment)</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>

</aside>
<!-- end: sidebar -->
