<!doctype html>
<html class="fixed sidebar-left-collapsed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title><%= tittle %></title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="../../assets/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="../../assets/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="../../assets/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="../../assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="../../assets/vendor/isotope/jquery.isotope.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="../../assets/stylesheets/theme_khoahoc.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="../../assets/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="../../assets/stylesheets/theme-custom.css">

		<!-- TruongThiHaTrang Custom CSS -->
		<link rel="stylesheet" href="../../assets/stylesheets/theme-hachitu.css">

		<!-- Head Libs -->
		<script src="../../assets/vendor/modernizr/modernizr.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<% include ../layout-fontend/header1 %>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<% include ../layout-fontend/menu-left %>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<!-- start: page -->
					<%- body %>
					<!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>

						<div class="sidebar-right-wrapper">

							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>

								<ul>
									<li>
										<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>

							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="../../assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="../../assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="../../assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="../../assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</aside>
		</section>

		<!-- Vendor -->
		<script src="../../assets/vendor/jquery/jquery.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>
		<script src="../../assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>
		<script src="../../assets/vendor/bootstrap/js/bootstrap.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>
		<script src="../../assets/vendor/nanoscroller/nanoscroller.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>
		<script src="../../assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>
		<script src="../../assets/vendor/magnific-popup/magnific-popup.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>
		<script src="../../assets/vendor/jquery-placeholder/jquery.placeholder.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>

		<!-- Specific Page Vendor -->
		<script src="../../assets/vendor/isotope/jquery.isotope.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="../../assets/javascripts/theme.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>

		<!-- Theme Custom -->
		<script src="../../assets/javascripts/theme.custom.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>

		<!-- Theme Initialization Files -->
		<script src="../../assets/javascripts/theme.init.js" type="5536a53f130a5ca87aa64af8-text/javascript"></script>


		<!-- Examples -->
		<script src="../../assets/javascripts/pages/examples.mediagallery.js" type="5536a53f130a5ca87aa64af8-text/javascript" /></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="5536a53f130a5ca87aa64af8-text/javascript"></script>
<script type="5536a53f130a5ca87aa64af8-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="5536a53f130a5ca87aa64af8-|49" defer=""></script></body>
</html>
