<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

	<div class="sidebar-header">
		<div class="sidebar-title">
			Navigation
		</div>
		<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
			<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
		</div>
	</div>

	<div class="nano">
		<div class="nano-content">
			<nav id="menu" class="nav-main" role="navigation">
				<ul class="nav nav-main">
					<li class="nav-active">
						<a href="/trangchu">
							<i class="fa fa-home" aria-hidden="true"></i>
							<span>Trang chủ</span>
						</a>
					</li>

					<li class="nav-parent">
						<a>
							<i class="fa fa-mortar-board" aria-hidden="true"></i>
							<span>Khóa học</span>
						</a>
						<ul class="nav nav-children">
							<li>
								<a href="/khoahoctuonglai">
									 Khóa học tương lai
								</a>
							</li>
							<li>
								<a href="/khoahochientai">
									 Khóa học hiện tại
								</a>
							</li>
							<li>
								<a href="/khoahocquakhu">
									 khóa học quá khứ
								</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="/quatrinh">
								<i class="fa fa-book" aria-hidden="true"></i>
							<span>Quá trình</span>
						</a>
					</li>
			</nav>
		</div>

	</div>

</aside>
<!-- end: sidebar -->
